<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin -- Turtle Shelter Project</title>
    <link rel="icon" type="image/png" href="/img/logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar">
        <div class="navbar-logo">Turtle Shelter Project</div>
        <div class="navbar-buttons">
          <!-- These will be navbar buttons to take the admin to pages that will manage the volunteers and events -->
          <form action="/manageUsers" method="GET"><button class="btn" type="submit">Manage Admin Users</button></form>
          <form action="/manageVolunteers" method="GET"><button class="btn" type="submit">Manage Volunteers</button></form>
          <form action="/manageEvents" method="GET"><button class="btn" type="submit">Manage Events</button></form>
        </nav>
    <h1>Insert Dashboard here</h1>

    
  </body>
</html>
