<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Volunteer Form - Turtle Shelter Project</title>
    <link rel="icon" type="image/png" href="/img/logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar">
        <div class="navbar-logo">Turtle Shelter Project</div>
        <div class="navbar-buttons">
          <!-- These will be navbar buttons to take the admin to pages that will manage the volunteers and events -->
          <form action="/admin" method="GET"><button class="btn" type="submit">Admin Home</button></form>
          <form action="/manageVolunteers" method="GET"><button class="btn" type="submit">Manage Volunteers</button></form>
          <form action="/manageEvents" method="GET"><button class="btn" type="submit">Manage Events</button></form>
    </nav>

    <main style="display: flex; justify-content: center; align-items: center; height: 100vh">
      <section class="form-section">
        <h2 class="form-title">Add New Admin</h2>
        <form action="/adminAddUser" method="POST" class="volunteer-form">
          <fieldset>
            <legend>Admin Information</legend>
            <div class="form-group">
              <label for="admin_user_name">User Name:</label>
              <input
                type="text"
                id="admin_user_name"
                name="admin_user_name"
                required
              />
            </div>
            <div class="form-group">
                <label for="admin_password">Password:</label>
                <input
                  type="text"
                  id="admin_password"
                  name="admin_password"
                  required
                />
              </div>
            <div class="form-group">
              <label for="admin_first_name">First Name:</label>
              <input type="text" id="admin_first_name" name="admin_first_name" required />
            </div>
            <div class="form-group">
              <label for="admin_last_name">Last Name:</label>
              <input type="text" id="admin_last_name" name="admin_last_name" required />
            </div>
            <br>
          <button type="submit" class="btn-donate">Submit</button>
        </form>
      </section>
    </main>
  </body>
</html>