<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        h1 {
            color: #333;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            background-color: #f9f9f9;
            margin: 10px 0;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        li strong {
            font-size: 1.2em;
        }
        li p {
            margin: 5px 0;
        }
    </style>
</head>
<body>

    <h1>Volunteers List</h1>

    <% if (volunteers.length > 0) { %>
        <ul>
            <% volunteers.forEach(function(volunteer) { %>
                <li>
                    <strong><%= volunteer.vol_name %></strong>
                    <p>Email: <%= volunteer.    email %></p>
                    <p>Age: <%= volunteer.age %></p>
                    <!-- Add more fields here as necessary, e.g., user.phone or user.address -->
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No users found.</p>
    <% } %>

</body>
</html>
