<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Turtle Shelter Project</title>
    <link rel="icon" type="image/png" href="/img/logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-logo">Turtle Shelter Project</div>
      <div class="navbar-buttons">
        <form action="/jensStory" method="GET"><button class="btn" type="submit">Jen's Story</button></form>
        <form action="/volunteer" method="GET"><button class="btn" type="submit">Volunteer</button></form>
        <form action=/hostevent method="GET"><button class="btn" type="submit">Host an Event</button></form>
        <button class="btn btn-donate">Donate</button>
      </div>
    </nav>

    <main>
      <section class="hero">
        <div class="hero-content">
          <h1 class="hero-description">
            Helping to save lives of people experiencing homelessness
          </h1>
          <p class="hero-title">Starts with you</p>
        </div>
      </section>

      <section class="project-details">
        <h2 class="project-details-title">About the Turtle Shelter Project</h2>
        <div class="project-details-content">
          <p>
            One winter when Jen was homeless, 7 of her friends froze to death. Jen is no longer
            homeless and has figured out a solution: High-tech foam vests that are inexpensive and
            keep a person warm up to 10 degree below zero. They help SAVE lives and alleviate
            suffering. YOU can enlist the help of your friends, family, community, business
            colleagues, church members, and clubs to help make vests too! We provide the materials,
            you provide the working hands.
          </p>
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="footer-info">Turtle Shelter Project, PO Box 382, Kaysville, UT 84037</div>
      <div class="footer-info">801-872-3190</div>
      <div class="footer-info">turtleshelterproject@gmail.com</div>
    </footer>
  </body>
</html>
