<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank You -- Turtle Shelter Project</title>
    <link rel="icon" type="image/png" href="/img/logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar">
          <div class="navbar-logo">
            <form action="/" method="GET">
              <button type="submit" style="border: none; background: none; padding: 0;">
                <img class="logo-circle" src="/img/logo-remove-background.com.png" alt="Logo Image" />
              </button>
            </form>
            Turtle Shelter Project
        </div>
        <div class="navbar-buttons">
          <form action="/" method="GET"><button class="btn" type="submit">Home</button></form>
          <form action="/jensStory" method="GET"><button class="btn" type="submit">Jen's Story</button></form>
          <form action="/volunteer" method="GET"><button class="btn" type="submit">Volunteer</button></form>
          <form action=/hostEvent method="GET"><button class="btn" type="submit">Host an Event</button></form>
          <a href="https://turtleshelterproject.org/checkout/donate?donatePageId=5b6a44c588251b72932df5a0">
            <button class="btn btn-donate">Donate</button>
          </a> 
        </div>
      </nav>
      <br>
      <h1 class=jenstory style="text-align: center;">Thank you!</h2>
        <div class="project-details-content">
          <p>
            Thank you so much for signing up to be a volunteer! Jen will reach out to you via email.
          </p>
        </div>
        <br>
        <div style="display: flex;
        justify-content: center;
        align-items: center;">
            <form action="/" method="GET">
                <button type="submit" class="btn-donate">Back to Home</button>
            </form>
        </div>
        <br><br>
        
        <!-- Dancing turtle gif -->
        <div style="display: flex;
        justify-content: center;
        align-items: center;">
<img src="img/turtle-lildance.gif" alt="Instagram" style="width: 200px; height: 200px" />      <!-- <footer class="footer">
          <div class="footer-info">Turtle Shelter Project, PO Box 382, Kaysville, UT 84037</div>
          <div class="footer-info">801-872-3190</div>
          <div class="footer-info">turtleshelterproject@gmail.com</div>
          <div class="footer-info">
            <a href="https://m.facebook.com/turtleshelterproject/?__n=K" target="_blank">
              <img src="img/facebook.png" alt="Facebook" style="width: 40px; height: 40px;">
            </a>
            <a href="https://www.instagram.com/turtleshelterproject/" target="_blank">
              <img src="img/instagramm.png" alt="Instagram" style="width: 43px; height: 39px;">
            </a>
          </div>
        </footer>  -->
  </body>
</html>
