container_commands:
  # Install dependencies
  00_install_deps:
    command: "sudo dnf install python3 augeas-libs -y"
    ignoreErrors: true

  # Create virtual environment
  10_create_venv:
    command: "sudo python3 -m venv /opt/certbot"
    ignoreErrors: true

  # Upgrade pip
  20_update_pip:
    command: "sudo /opt/certbot/bin/pip install --upgrade pip"
    ignoreErrors: true

  # Install certbot and its Nginx plugin
  30_install_certbot:
    command: "sudo /opt/certbot/bin/pip install certbot certbot-nginx"
    ignoreErrors: true

  # Link certbot to /usr/bin
  40_link_certbot:
    command: "sudo ln -s /opt/certbot/bin/certbot /usr/bin/certbot"
    ignoreErrors: true

  # Install Nginx
  50_install_nginx:
    command: "sudo dnf install nginx -y"
    ignoreErrors: true

  # Modify Nginx configuration to increase hash sizes
  60_modify_nginx_conf:
    command: |
      echo 'types_hash_max_size 2048;' | sudo tee -a /etc/nginx/nginx.conf
      echo 'types_hash_bucket_size 128;' | sudo tee -a /etc/nginx/nginx.conf
      echo 'server_names_hash_bucket_size 128;' | sudo tee -a /etc/nginx/nginx.conf
    ignoreErrors: true

  # Start Nginx
  70_start_nginx:
    command: "sudo systemctl start nginx"
    ignoreErrors: true

  # Enable Nginx to start on boot
  80_enable_nginx:
    command: "sudo systemctl enable nginx"
    ignoreErrors: true
