files:
  "/etc/nginx/conf.d/ssl.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 443 ssl;
          server_name group47intex.is404.net;

          ssl_certificate /etc/letsencrypt/live/group47intex.is404.net/fullchain.pem;
          ssl_certificate_key /etc/letsencrypt/live/group47intex.is404.net/privkey.pem;

          # Add any other SSL configurations you need here
          # Example: ssl_protocols TLSv1.2 TLSv1.3;
          # Example: ssl_ciphers 'ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-SHA256:...';
      }

      # Redirect HTTP to HTTPS
      server {
          listen 80;
          server_name group47intex.is404.net;
          return 301 https://$host$request_uri;
      }

commands:
  01_reload_nginx:
    command: "sudo service nginx reload"
