files:
  "/etc/nginx/conf.d/ssl.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 443 ssl;
          server_name ThisisTheApp-env.eba-e4mhqj2t.us-east-1.elasticbeanstalk.com;

          ssl_certificate /etc/letsencrypt/live/ThisisTheApp-env.eba-e4mhqj2t.us-east-1.elasticbeanstalk.com/fullchain.pem;
          ssl_certificate_key /etc/letsencrypt/live/ThisisTheApp-env.eba-e4mhqj2t.us-east-1.elasticbeanstalk.com/privkey.pem;
      }
