files:
  "/etc/ssl/certs/group47intex.crt":
    mode: "000644"
    owner: root
    group: root
    source: "ssl_certs/certificate.crt"  # Relative path in your project

  "/etc/ssl/certs/ca_bundle.crt":
    mode: "000644"
    owner: root
    group: root
    source: "ssl_certs/ca_bundle.crt"  # Relative path in your project

  "/etc/ssl/private/private.key":
    mode: "000600"
    owner: root
    group: root
    source: "ssl_certs/private.key"  # Relative path in your project

commands:
  01_merge_certificates:
    command: "cat /etc/ssl/certs/group47intex.crt /etc/ssl/certs/ca_bundle.crt > /etc/ssl/certs/group47intex_full.crt"

  02_update_nginx_config:
    command: |
      echo "server {
        listen 443 ssl;
        server_name group47intex.is404.net;

        ssl_certificate /etc/ssl/certs/group47intex_full.crt;
        ssl_certificate_key /etc/ssl/private/private.key;

        access_log /var/log/nginx/group47intex_access.log;
        error_log /var/log/nginx/group47intex_error.log;

        location / {
          root /home/www/public_html/group47intex.is404.net/public/;
          index index.html;
        }
      }" > /etc/nginx/conf.d/ssl_group47intex.conf

  03_restart_nginx:
    command: "sudo systemctl restart nginx"  # Restart NGINX to apply changes
