files:
  "/etc/ssl/certs/group47intex.crt":
    mode: "000644"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
   MIIGezCCBGOgAwIBAgIRAKYoQ196kXnxJiX1QRRixtQwDQYJKoZIhvcNAQEMBQAw
SzELMAkGA1UEBhMCQVQxEDAOBgNVBAoTB1plcm9TU0wxKjAoBgNVBAMTIVplcm9T
U0wgUlNBIERvbWFpbiBTZWN1cmUgU2l0ZSBDQTAeFw0yNDEyMDMwMDAwMDBaFw0y
NTAzMDMyMzU5NTlaMCExHzAdBgNVBAMTFmdyb3VwNDdpbnRleC5pczQwNC5uZXQw
ggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCGJYBbuAs/TwPxiwY4ktec
3ARmg6uMeG87aWSgS9esQtnh98n6Sbhm++o/1JGfOxhuShYt6EYq2cUHG6E2QH88
tHezKdnPTfNjea4JI0AF8E8tCjLYJ2wLwq3sWRz8zty0DvRu5yjX1iUsitiBo4r0
fsGTm2bGelfe5Vw/KGOWDZxvTzsOlVw1DwXv701LAa0fbIV1XZHwMxA58NlDrchQ
wtu46vy2EaGP4uc9630D2mHjdKKtpDC49OfJZtyXLnozZwyL+FfNXZog+2wY5Mfy
0DcHcQ3mpo1ZgE3EFQJs4UPkfdQXTmNd9RfPPmoi1b5o4wwcWVXqAUiBnsG7T0TT
AgMBAAGjggKCMIICfjAfBgNVHSMEGDAWgBTI2XhootkZaNU9ct5fCj7ctYaGpjAd
BgNVHQ4EFgQU8qqC/bpgnUyNUSvYkf6P+UxFxzUwDgYDVR0PAQH/BAQDAgWgMAwG
A1UdEwEB/wQCMAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMEkGA1Ud
IARCMEAwNAYLKwYBBAGyMQECAk4wJTAjBggrBgEFBQcCARYXaHR0cHM6Ly9zZWN0
aWdvLmNvbS9DUFMwCAYGZ4EMAQIBMIGIBggrBgEFBQcBAQR8MHowSwYIKwYBBQUH
MAKGP2h0dHA6Ly96ZXJvc3NsLmNydC5zZWN0aWdvLmNvbS9aZXJvU1NMUlNBRG9t
YWluU2VjdXJlU2l0ZUNBLmNydDArBggrBgEFBQcwAYYfaHR0cDovL3plcm9zc2wu
b2NzcC5zZWN0aWdvLmNvbTCCAQQGCisGAQQB1nkCBAIEgfUEgfIA8AB2AM8RVu7V
Lnyv84db2Wkum+kacWdKsBfsrAHSW3fOzDsIAAABk45xJMoAAAQDAEcwRQIhAMBr
PW6jgYqaA9shfaN/BsZS62kCgBmA9jFkHNBL1Bk+AiBAI1lC1Qo4y2KsfeGcQ7nl
MNqZPG/l9r7CvL/DHexaPAB2AMz7D2qFcQll/pWbU87psnwi6YVcDZeNtql+VMD+
TA2wAAABk45xJNgAAAQDAEcwRQIgIDfK7lkIZdhwwwjVBnSHzswvE8V20/M0IiGh
YTSjPNICIQC6+1eSKQC6xIrkVTyZrH2i4iYK1T7e+MI3cjOegFF2fjAhBgNVHREE
GjAYghZncm91cDQ3aW50ZXguaXM0MDQubmV0MA0GCSqGSIb3DQEBDAUAA4ICAQAH
QfY/Dn0GNI+HRCDzq8xlTE6IIgPCiBtC1pASv3UUIfqpp7+RsYe/431+lrwLInsb
TJGA6skgh4n6DccKGI/YlfqwzfvnJQNHLAFf5e5BUPWbPUR0KLPCRt5oO6QmDDK9
ToAz8Y+SvVxDSqAxBrOlBDoe/vfBUOv+6qgkcKLPH6VWL6ZfnaabHaYIruqa8yJy
aDN9PRcfyDGd+X0G+rhJJFgGLTBMce9fcHuhFgMOC1bGLtpqJg9oSY3QD2hg3VEI
nOXJxkb6aJpmMxzsf1IswWnWXNHmUL+FaHECUTXwR6GAEx3zZVU4EKWSpmhhiCvP
Qx51HU0ocP1ihKnRVqNc+a7GsngZouLnA1yit1q+QkUnm9C7QKnApch+fA0w5h2q
tNX9oyYnnvu83Thc7FCeO7L64xmaJW6nxmJrToKb5iTSOssOajzWiXyetIlL3xJ5
+8xzr25Pkn3pL8Kvb1F7oP0DQdzUIghItw/EnRRXfoxhB6jn+NbnEl27HuFDDEXB
knjqdRs9RytMyx5ORDp6m3nBxtKydSZCGC1x0YDUE4OpvOszUw9gUY21lN5NgsIM
vR4Q6q6WldSDtzAs2XJ/zejsuIzFVZawzooHmAsWYt8FfbJnDmCw+2wW/ZznKM1+
pTtwXbEhwLmKLKJ0nslDvUybj62GK+cFskovtb1pow==
      -----END CERTIFICATE-----

  "/etc/ssl/certs/ca_bundle.crt":
    mode: "000644"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
MIIG1TCCBL2gAwIBAgIQbFWr29AHksedBwzYEZ7WvzANBgkqhkiG9w0BAQwFADCB
iDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCk5ldyBKZXJzZXkxFDASBgNVBAcTC0pl
cnNleSBDaXR5MR4wHAYDVQQKExVUaGUgVVNFUlRSVVNUIE5ldHdvcmsxLjAsBgNV
BAMTJVVTRVJUcnVzdCBSU0EgQ2VydGlmaWNhdGlvbiBBdXRob3JpdHkwHhcNMjAw
MTMwMDAwMDAwWhcNMzAwMTI5MjM1OTU5WjBLMQswCQYDVQQGEwJBVDEQMA4GA1UE
ChMHWmVyb1NTTDEqMCgGA1UEAxMhWmVyb1NTTCBSU0EgRG9tYWluIFNlY3VyZSBT
aXRlIENBMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAhmlzfqO1Mdgj
4W3dpBPTVBX1AuvcAyG1fl0dUnw/MeueCWzRWTheZ35LVo91kLI3DDVaZKW+TBAs
JBjEbYmMwcWSTWYCg5334SF0+ctDAsFxsX+rTDh9kSrG/4mp6OShubLaEIUJiZo4
t873TuSd0Wj5DWt3DtpAG8T35l/v+xrN8ub8PSSoX5Vkgw+jWf4KQtNvUFLDq8mF
WhUnPL6jHAADXpvs4lTNYwOtx9yQtbpxwSt7QJY1+ICrmRJB6BuKRt/jfDJF9Jsc
RQVlHIxQdKAJl7oaVnXgDkqtk2qddd3kCDXd74gv813G91z7CjsGyJ93oJIlNS3U
gFbD6V54JMgZ3rSmotYbz98oZxX7MKbtCm1aJ/q+hTv2YK1yMxrnfcieKmOYBbFD
hnW5O6RMA703dBK92j6XRN2EttLkQuujZgy+jXRKtaWMIlkNkWJmOiHmErQngHvt
iNkIcjJumq1ddFX4iaTI40a6zgvIBtxFeDs2RfcaH73er7ctNUUqgQT5rFgJhMmF
x76rQgB5OZUkodb5k2ex7P+Gu4J86bS15094UuYcV09hVeknmTh5Ex9CBKipLS2W
2wKBakf+aVYnNCU6S0nASqt2xrZpGC1v7v6DhuepyyJtn3qSV2PoBiU5Sql+aARp
wUibQMGm44gjyNDqDlVp+ShLQlUH9x8CAwEAAaOCAXUwggFxMB8GA1UdIwQYMBaA
FFN5v1qqK0rPVIDh2JvAnfKyA2bLMB0GA1UdDgQWBBTI2XhootkZaNU9ct5fCj7c
tYaGpjAOBgNVHQ8BAf8EBAMCAYYwEgYDVR0TAQH/BAgwBgEB/wIBADAdBgNVHSUE
FjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwIgYDVR0gBBswGTANBgsrBgEEAbIxAQIC
TjAIBgZngQwBAgEwUAYDVR0fBEkwRzBFoEOgQYY/aHR0cDovL2NybC51c2VydHJ1
c3QuY29tL1VTRVJUcnVzdFJTQUNlcnRpZmljYXRpb25BdXRob3JpdHkuY3JsMHYG
CCsGAQUFBwEBBGowaDA/BggrBgEFBQcwAoYzaHR0cDovL2NydC51c2VydHJ1c3Qu
Y29tL1VTRVJUcnVzdFJTQUFkZFRydXN0Q0EuY3J0MCUGCCsGAQUFBzABhhlodHRw
Oi8vb2NzcC51c2VydHJ1c3QuY29tMA0GCSqGSIb3DQEBDAUAA4ICAQAVDwoIzQDV
ercT0eYqZjBNJ8VNWwVFlQOtZERqn5iWnEVaLZZdzxlbvz2Fx0ExUNuUEgYkIVM4
YocKkCQ7hO5noicoq/DrEYH5IuNcuW1I8JJZ9DLuB1fYvIHlZ2JG46iNbVKA3ygA
Ez86RvDQlt2C494qqPVItRjrz9YlJEGT0DrttyApq0YLFDzf+Z1pkMhh7c+7fXeJ
qmIhfJpduKc8HEQkYQQShen426S3H0JrIAbKcBCiyYFuOhfyvuwVCFDfFvrjADjd
4jX1uQXd161IyFRbm89s2Oj5oU1wDYz5sx+hoCuh6lSs+/uPuWomIq3y1GDFNafW
+LsHBU16lQo5Q2yh25laQsKRgyPmMpHJ98edm6y2sHUabASmRHxvGiuwwE25aDU0
2SAeepyImJ2CzB80YG7WxlynHqNhpE7xfC7PzQlLgmfEHdU+tHFeQazRQnrFkW2W
kqRGIq7cKRnyypvjPMkjeiV9lRdAM9fSJvsB3svUuu1coIG1xxI1yegoGM4r5QP4
RGIVvYaiI76C0djoSbQ/dkIUUXQuB8AL5jyH34g3BZaaXyvpmnV4ilppMXVAnAYG
ON51WhJ6W0xNdNJwzYASZYH+tmCWI+N60Gv2NNMGHwMZ7e9bXgzUCZH5FaBFDGR5
S9VWqHB73Q+OyIVvIbKYcSc2w/aSuFKGSA==
      -----END CERTIFICATE-----

  "/etc/ssl/private/private.key":
    mode: "000600"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
MIIEpAIBAAKCAQEAhiWAW7gLP08D8YsGOJLXnNwEZoOrjHhvO2lkoEvXrELZ4ffJ
+km4ZvvqP9SRnzsYbkoWLehGKtnFBxuhNkB/PLR3synZz03zY3muCSNABfBPLQoy
2CdsC8Kt7Fkc/M7ctA70buco19YlLIrYgaOK9H7Bk5tmxnpX3uVcPyhjlg2cb087
DpVcNQ8F7+9NSwGtH2yFdV2R8DMQOfDZQ63IUMLbuOr8thGhj+LnPet9A9ph43Si
raQwuPTnyWbcly56M2cMi/hXzV2aIPtsGOTH8tA3B3EN5qaNWYBNxBUCbOFD5H3U
F05jXfUXzz5qItW+aOMMHFlV6gFIgZ7Bu09E0wIDAQABAoIBAAE54IV2Fiw69adE
hQcJWI0neabSN0QuaZ3aZcANUWhSqBknoaH3AId4b/irYbVZ3exMIw3CXLnRibp5
5yxOxJryb1Gk5Ue+x6W2HAAbYV9shdy8hiBxo8wruFk7q0coQN4ocNV+qWHnpClX
D4mHzCJV8kD+H59ayOjRodk17ksVy10wHOILiZycG8BcdBUNnPgv2cV+9sk/Kr51
c3HRRYzFCBio1fJfyrPGGpjkho8GCIRGWysbLEy4SrogaMjFXZFkGrug546QeiFw
PZruNfqPNKGcwJX8e+ZF7v4yLMt+8gvfGuJTMwsfrWc3NFyt++nG6Wngn7oWt2GJ
UVS9pmECgYEAyOuplRm9Cd+YUBV/ddxPSqIZuimIhr0fn7Shk1z66FU4ok8Fif+D
IOU1IlJ+YZiXzotWbgj5kkurYXilygcigWCGp/O7yd7F5T9lWMUA7Fuq/NhSlCY8
37ZXagbIF1SnkC61y66DSEHsKcX4ON92YmMuN/a2FMiuJ3jCALPHpVECgYEAquu5
RwLEzxDGedHNP38RQM/iaUc+fF1oEIU58gUp9OgPMke8KR09RJeHkuryQaX8QSfg
5qmmK+9ijIwaAWP2dUuJlQCsBWXRGw+VoST0/eEA0Y3VTyAdp1SX5PdaK8T/WMGu
7ATAQ5KJxeiInd3vj2ju3uvs7sTSSYcRYNgZTuMCgYEAllz3PqRSes8g194e03+a
v4nsowtuJxfmUMkHmpcdFz6f8agdxxa3dajTSOpftn5SLbrNZe/Fhpyml32I5VbN
lfE9FPgs83iKtXPqTrKwbDJ2Fl91/XVYXTvC05BbskoiVJ8AYnwpt6vOJ70GdNmX
aS48aplxzsAYxWV0Gr5wjOECgYB0fziIgwWb0OZGz84ikjwzPb4nXazkXVH5uKS3
Jffj+mupLKW+LDS/VLzOUZ8PSdA2pLSw4z7kwUQdYbyz5+trJTJAQfX9s9kjpaqp
7COkC0Fgk1ipls0/aPQi1sk5/grA9zp/mfll1TJcl1LOrx+CUtZFUO7sC3D9NreM
l54gWwKBgQC4XOksAYMRliXqheucVNKlYJ1wKt/c/SsTZCLbvjGiXrSrnV/r9Fig
HacE/cGiZmtVJ9fLn5S/KQoPOTxM6Hg3saVJTt96uhoyBcZx+ajm/rHLxS+pSaQ2
KlFAGFN9SJs9WNHJHj5J0wWAuJ2QthJUmRXcMS7iE9uEd4pP0Wcr0Q==
-----END PRIVATE KEY-----
